<h1>User Profile</h1>

<h3>Welcome <%=@user.name%>!</h3>
<label>Name</label>
<li> <%= @user.name %></li>
<label>Tickets</label>
<li> <%= @user.tickets %></li>
<label>Mood</label>
<li> <%= @user.mood %></li>
<label>Height</label>
<li> <%= @user.height %></li>

<%= link_to "Edit", edit_user_path(@user) %>
